<html>
  <head>
    <title>Remote Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" / >
      <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
      #volume{
        font-size: 2.5em;
      }
    </style>
    <script src="/jquery-1.8.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      rdio_state = <%= rdio_state %>
      quicktime_state = <%= quicktime_state %>
    </script>
    <script src="/remote_control.js"></script>
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span5">
              <a class="brand" href="#">Remote Control</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span2">
         <b id="volume"><%= volume %>%</b>
         <h6>Volume</h6>
        </div>
        <div class="span3">
          <div class="btn-group">
            <a id="minus" class="btn volume-trigger" data-volume="<%=volume - 5%>">-5</a>
            <a id="restore" class="btn volume-trigger" data-volume="<%= volume %>">Restore</a>
            <a id="mute" class="btn volume-trigger" data-volume="0">Mute</a>
            <a id="plus" class="btn volume-trigger" data-volume="<%=volume + 5%>">+5</a>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="span2">
          <h4>Rdio</h6>
        </div>
        <div class="span2">
          <a id="pause-rdio" class="btn toggle-id" >Pause</a>
          <a id="play-rdio"  class="btn toggle-id" >Play</a>
        </div>
      </div>

      <hr/>


      <div class="row">
        <div class="span2">
          <h4>Quicktime</h6>
        </div>
        <div class="span2">
          <a id="pause-quicktime" data-app="quicktime" class="btn toggle-app" >Pause</a>
          <a id="play-quicktime"  data-app="quicktime" class="btn toggle-app" >Play</a>
        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
